<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{{title}}</h2>
                {% for item in list %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="text-center">{{item.title}} </h2>
                    </div>
                    <div class="panel-body">
                        <img src="{{item.image}}" class="img-responsive center-block">
                    </div>
                    <div class="panel-footer">
                        <h3>发表时间：{{item.createAt}}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>